<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepagestyle.css">
</head>
<body>
   
     <header>
            <h1>Logo</h1>
            <a href="/profile"></a>
    </header>
   <main>
    <div class="main-left">
        <h1>Find Teams Nearby</h1>
        <div class="imagecontainer">
            <img src="https://i.le360.ma/le360sport/sites/default/files/styles/img_738_520/public/assets/images/2022/12-reda/whatsapp_image_2022-12-10_at_17.05.40.jpeg" alt="">
        </div>
         <a href="/teams"><button class="find-btn">Explore Teams</button></a>
    </div>
    <div class="main-right">
         <h1>Find Players Nearby</h1>
         <div class="imagecontainer">
            <img src="https://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/12/9/1355055907038/e0428d50-868a-4840-af87-b94579a94da4-460.jpeg" alt="">
        </div>
        <a href="/players"><button class="find-btn" >Explore Players</button></a>
    </div>
   </main>
  
  
    <script src="script.js"></script>
</body>
</html>